In [1]:
import pandas as pd 
import numpy as np 
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### Importing the dataset

#### Reading the data

In [3]:
dataset = r"C:\Data set\Cafe Sales.csv"

In [4]:
df = pd.read_csv(dataset)

### Observation

### The Structure of the DataSet

In [5]:
df.shape

(10000, 8)

### Obseravtion

## Displaying the initaial records

In [6]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

### Observation

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

### Observation

## Descriptive Statistics of Numerical Features

In [8]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

### Observation

###  Value Count Summary

In [9]:
df.Item.value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

### Observation

In [10]:
df.Quantity.value_counts()

Quantity
5          2013
2          1974
4          1863
3          1849
1          1822
UNKNOWN     171
ERROR       170
Name: count, dtype: int64

### Observation

In [11]:
df.Location.value_counts()

Location
Takeaway    3022
In-store    3017
ERROR        358
UNKNOWN      338
Name: count, dtype: int64

### Observation

## Null value Analysis

In [12]:
df.isnull()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,True,False,False
9996,False,True,False,True,False,False,True,False
9997,False,False,False,False,False,False,True,False
9998,False,False,False,True,False,False,True,False
9999,False,False,False,False,False,False,False,False

### Observation

In [13]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

### Observation

##### 1. Show only 'Item' and 'Quantity' columns

In [14]:
print(df[["Item", "Quantity"]])

          Item Quantity
0       Coffee        2
1         Cake        4
2       Cookie        4
3        Salad        2
4       Coffee        2
...        ...      ...
9995    Coffee        2
9996       NaN        3
9997    Coffee        4
9998    Cookie        3
9999  Sandwich        3

[10000 rows x 2 columns]

##### 2. Find how many unique items are in the dataset

In [15]:
print(df["Item"].nunique())   # number of unique items
print(df["Item"].unique())    # list of unique items

10
['Coffee' 'Cake' 'Cookie' 'Salad' 'Smoothie' 'UNKNOWN' 'Sandwich' nan
 'ERROR' 'Juice' 'Tea']

##### 3. Count how many times 'Coffee' was sold

In [16]:
print(df[df["Payment Method"] == "Cash"].head())

   Transaction ID      Item Quantity Price Per Unit Total Spent  \
1     TXN_4977031      Cake        4            3.0        12.0
7     TXN_6699534  Sandwich        4            4.0        16.0
10    TXN_2548360     Salad        5            5.0        25.0
12    TXN_7619095  Sandwich        2            4.0         8.0
17    TXN_6769710     Juice        2            3.0         6.0

   Payment Method  Location Transaction Date
1            Cash  In-store       2023-05-16
7            Cash   UNKNOWN       2023-10-28
10           Cash  Takeaway       2023-11-07
12           Cash  In-store       2023-05-03
17           Cash  In-store       2023-02-24

##### 4. Display transactions where Location = Takeaway

In [17]:
print(df[df["Location"] == "Takeaway"].head())

   Transaction ID      Item Quantity Price Per Unit Total Spent  \
0     TXN_1961373    Coffee        2            2.0         4.0
6     TXN_4433211   UNKNOWN        3            3.0         9.0
8     TXN_4717867       NaN        5            3.0        15.0
10    TXN_2548360     Salad        5            5.0        25.0
11    TXN_3051279  Sandwich        2            4.0         8.0

   Payment Method  Location Transaction Date
0     Credit Card  Takeaway       2023-09-08
6           ERROR  Takeaway       2023-10-06
8             NaN  Takeaway       2023-07-28
10           Cash  Takeaway       2023-11-07
11    Credit Card  Takeaway            ERROR

##### 5. Find the total number of unique payment methods.

In [18]:
print(df["Payment Method"].nunique())

5

##### 6. Count how many transactions happened in “In-store” location.

In [19]:
print(df[df["Location"] == "In-store"].shape[0])

3017